body{
  background-color: rgb(255, 213, 122);
}
header{
  border: solid rgb(51, 134, 160);
  /* border-radius: 20px; */
  border-top: none;
  border-left: none;
  border-right: none;
  padding-bottom: 10px;
  text-align: center;
  line-height: 40px;
  font-family: Segoe UI;
  font-size: 30px;
  margin: auto;
  margin-top: 20px;
  max-width: 500px;
}

.maker {
  
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 300px;
  display: flex;
  align-items: center;
  border: 3px solid rgb(214, 59, 59);
  border-radius: 40px;
  background-color: rgb(231, 163, 86);
  position: sticky;
  top : 0 
}

.listname{
  border: 2px solid black ;
  border-radius: 40px;
  outline: none;
  color:rgb(0, 0, 0);
  text-align: center;
  height: 40px;
  width: 75%;
  margin: 3px;
  background-color: rgb(253, 205, 255);
  
}

#addbtton{
  cursor: pointer;
  margin: 0px 0px 0px 6px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  border: 2px solid rgb(253, 205, 255);
  border-radius: 40px;
  font-size: 40px;
 
}

#icon {
  
}
  
main {
  margin: 2%;
  border: solid rgb(51, 134, 160);
  /* border-radius: 20px; */
  border-left: none;
  border-right: none;
  border-radius: none;
  background-color: rgb(255, 235, 146);
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: ROW;
  gap: 30px;
  flex-wrap: wrap;
  align-items: flex-start;
}

main > div {
  width: 300px;
  border: 2px solid  rgb(231, 163, 86);
  border-radius: 7px;
  margin: 5px;
  background-image: linear-gradient( rgb(255, 249, 214),rgb(255, 209, 208));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  

}

main > div > ul{
  margin: 10px ;
  padding: 0px;
  width: 80%;

}

main > div > ul > li {
  margin: 7px 0px 7px 0px;
  padding-bottom: 5px;
  list-style-type: none;
  border: 2px solid brown;
  border-width: 0px 0px 2px 0px ;
}

main > div > p {
  width: 90%;
  height: 30px;
  font-family: sans-serif;
  line-height: 25px;
  font-size: 25px;
  text-align: left;
  padding: 5px 5px 5px 5px;
  margin: 10px 0 0 0 ;
  padding: 0;
  border-bottom: 2px solid black;
  text-transform: capitalize; 
   
}

P > i {
  cursor: pointer;
  float: right;
  color: blue;
}

li > i {
  cursor: pointer;
}